footer {
    border-top: ridge;
    margin-top: auto;
    height: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.footer-logo-wrapper {
    display: flex;
    width: 45%;
}
.footer-logo {    
    width: 3rem;
}
.copyright {
    display: flex;
    text-shadow: 1px 0px 16px black;
    width: 45%;
    color: var(--primary-accent-color);
    font-family: "Bebas Neue", sans-serif;
    justify-content: flex-end;
}