:root {
  /* Colors */
  --Primary-font-color: #c6c9ca;
  --secondary-font-color: #feb827;
  --primary-background-color: #f2e7eeb3;
  --enlarged-background-color: #f2e7ee;
  --primary-border-color: #fcd2044a;
  --primary-button-color: #04fccf;
  --primary-accent-color: #feb827;
  --default-border-color: #000;
  /* Fonts size*/
  --Primary-header-fontSize: 5em;
  --sec-header-fontSize: 2rem;
  --primary-text-fontSize: 2.5em;
  --secondary-text-fontSize: 1rem;
  /* divs */
  --prim-full-length: 100vw;
  --sec-full-length: 100dvw;
  --primary-div-width: 70vw;
  --secondary-div-width: 70dvw;
  --prim-small-img-width: 5vw;
  --sec-small-img-width: 5dvw;
  --prim-large-img-width: 70vw;
  --sec-large-img-width: 70dvw;
  --prim-medium-img-width: 20vw;
  --sec-medium-img-width: 20dvw;
  --primary-card-width: calc(16vw - 1rem);
  --sec-card-width: calc(16dvw - 1rem);
  /*margins*/
  --inner-card-margin: 1.5rem;
  --inner-card-header-margin: 2rem;
  --innder-card-text-margin: 2rem 2rem 2rem 2rem;
  --inner-card-padding: 1rem 1rem 1rem 1rem;
  --inner-header-padding: 1rem 10rem 1rem 10rem;
  /*line-height*/
  --header-line-height: 2rem;
  --header-text-line-height: 1.5rem;
  --card-header-line-height: 2rem;
  --card-text-line-height: 1rem;
  /*border-radius*/
  --card-border-radius: 16px;
  --btn-border-radius: 8px;
  --header-border-radius: 24px;
  /*borders*/
  --default-border: 2px solid var(--default-border-color);
}


html {  
  box-sizing: border-box;  
  background-color: red; 
}

body {    
    margin: 0;
    padding: 0;   

    background-image: linear-gradient(hsl(10, 90, 66), transparent 70%);    
    filter: drop-shadow(0 0 6px rgba(105, 155, 255, 1));
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    background-image: url(https://upload.wikimedia.org/wikipedia/commons/6/64/Creaci%C3%B3n_de_Ad%C3%A1n_%28Miguel_%C3%81ngel%29.jpg);
    background-size: cover;   
    background-attachment: fixed;
}
.trip{
  mix-blend-mode: difference;
}
.default-header-primary{
  font-family: "Lobster", sans-serif;
  color: var(--secondary-font-color);
  text-shadow: 3px -2px 3px black;
  font-size: var(--Primary-header-fontSize);
}
.default-p {
  font-size: var(--primary-text-fontSize);
  text-shadow: -1px 1px 6px black;
  color: var(--secondary-font-color);
  line-height: var(--card-text-line-height);
  font-family: "Permanent Marker", "cursive", sans-serif;
}
.default-header-main{
  font-family: "Permanent Marker", "cursive", sans-serif;
  font-size: var(--sec-header-fontSize);
  line-height: var(--header-line-height);
}
.header {  
  position: relative;
  top: 4%;
}
.header-wrapper {
  overflow: scroll;
  width: var(--primary-div-width);
  width: var(--secondary-div-width);
  

  display: flex;
  flex-direction: column;
  align-items: center;  
  align-content: center;
  justify-content: center;
  text-align: center;

  border: 2rem solid var(--primary-border-color);
  border-image: url('/assets/deco-frame.jpg') 213 round round;
  
  background-color: var(--primary-background-color); 
  /* padding: var(--inner-header-padding); */
  border-radius: var(--header-border-radius);
}

.header-header{
  font-size: 150%;
}

.header-text{
  font-size: 85%;
}


.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  gap: 1rem;
  font-family: "Lobster", sans-serif;
}
.searchBtn {
  border: solid 2px var(--primary-button-color);
  background-color: var(--secondary-font-color);
  color: var(--primary-button-color);  
  cursor: pointer;
  border-radius: var(--btn-border-radius);
}
.header-main {
  box-shadow: inset var(--primary-border-color) 10px 10px 10px 2.5rem;
}
.search-header{
  font-size: var(--sec-header-fontSize);
  line-height: var(--header-line-height);
  font-family: "Lobster", sans-serif;
}
.result-wrapper {
  width: calc(var(--prim-full-length) - 1rem);
  width: calc(var(--sec-full-length) - 1rem);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.result-header-wrapper {
  display: flex;
}
.result-container {
  display: flex;
  border: var(--default-border);
  color: var(--primary-font-color);
  flex-direction: row;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
}
.result:hover {
  cursor: pointer;
}

.result {
  gap: 0.5rem;
  overflow: auto;
  border-radius: var(--card-border-radius);
  background-color: var(--primary-background-color);
  margin: var(--inner-card-margin);
  display: flex;
  line-height: 1.2rem;
  padding: var(--inner-card-padding);
  border: var(--default-border);
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.enlarged {
  padding: 2rem;
  gap: 2rem;
  /* height: 100%; */
  width: 87%;
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--enlarged-background-color);
  /* width: var(--prim-large-img-width); */
  /* height: calc(var(--prim-large-img-width) + 10vw); */
}
.result > h2{
    font-family: "Lobster", sans-serif;
}
.enlarged > h2 {
    padding-top: 5rem;
    line-height: var(--header-line-height);
    font-family: "Lobster", sans-serif;
    font-size: var(--Primary-header-fontSize);
}
.result > ul {
  line-height: 1.5rem;
  list-style-type: circle;
  font-family: "cursive", sans-serif;
}
.result > ol {
  line-height: normal;
  list-style-type: upper-roman;
  font-family: "cursive", sans-serif;
}
.enlarged > h2 {
  line-height: var(--header-line-height);
  font-family: "Lobster", sans-serif;
  font-size: var(--Primary-header-fontSize);
}
.result > * {
  font-size: x-large;
  flex: 1 1 23%;
}
ol > li{
    font-size: var(--secondary-text-fontSize);
    line-height: normal;
    padding: 0.5rem;
    font-family: "cursive", sans-serif;
}
footer {
  display: flex;
  width: var(--prim-full-length);
  width: var(--sec-full-length);
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.footer-wrapper {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-content: flex-end;
  align-items: center;  
  color:var(--primary-accent-color);
}
.copy {
  font-family: "Permanent Marker", "cursive", sans-serif;
  font-size: var(--secondary-text-fontSize);
}
.footer-text {
  gap: 1rem;
  display: flex;
  font-family: "Permanent Marker", "cursive", sans-serif;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: var(--secondary-text-fontSize);
  align-items: center;
}
.footer-logga {
  width: var(--prim-small-img-width);
  width: var(--sec-small-img-width);
}
.logo {
  width: var(--prim-small-img-width);
  width: var(--sec-small-img-width);
  color: var(--primary-accent-color);
}
.hide {
  display: none;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 800px) {
  .header-wrapper {    
    width: calc(var(--primary-div-width) - 10rem);
    width: calc(var(--secondary-div-width) - 10rem);  
    padding: var(--inner-header-padding);
  }
  
}
@media (min-width: 1100px) {
  .header-header {
    font-size: 175%;
}
.header-text {
  font-size: 100%;
}
.header-wrapper {
  padding: 3rem;
}
}