:root {
  /* Colors */
  --Primary-font-color: #c6c9ca;
  --secondary-font-color: #feb827;
  --primary-background-color: #f2e7eeb3;
  --enlarged-background-color: #f2e7ee;
  --primary-border-color: #fcd2044a;
  --primary-button-color: #04fccf;
  --primary-accent-color: #feb827;
  --default-border-color: #000;
 
  
  
  
  /*border-radius*/
  --card-border-radius: 16px;
  --btn-border-radius: 8px;
  --header-border-radius: 24px;
  /*borders*/
  --default-border: 2px solid var(--default-border-color);
}


html {  
  box-sizing: border-box;  
  background-color: red; 
}

body {    
    margin: 0;
    padding: 0;   
    
    background-image: linear-gradient(hsl(10, 90, 66), transparent 70%);    
    filter: drop-shadow(0 0 6px rgba(105, 155, 255, 1));
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    background-image: url(https://upload.wikimedia.org/wikipedia/commons/6/64/Creaci%C3%B3n_de_Ad%C3%A1n_%28Miguel_%C3%81ngel%29.jpg);
    background-size: cover;   
    background-attachment: fixed;
    background-repeat:no-repeat ;
}
.trip{
  mix-blend-mode: difference;
}
.default-header-primary{
  font-family: "Lobster", sans-serif;
  color: var(--secondary-font-color);
  text-shadow: 3px -2px 3px black;
  font-size: 3em;
}
.default-p {
  font-size: var(--primary-text-fontSize);
  text-shadow: -1px 1px 6px black;
  color: var(--secondary-font-color);
  line-height:  normal;
  font-family: "Permanent Marker", "cursive", sans-serif;
}
.default-header-main{
  font-family: "Permanent Marker", "cursive", sans-serif;
  font-size: 2em;
  line-height: normal;
}
.header {  
  position: relative;
  top: 4%;
}
.header-wrapper {
  overflow: scroll;
  width: 80vw;
  width: 80dvw;
  

  display: flex;
  flex-direction: column;
  align-items: center;  
  align-content: center;
  justify-content: center;
  text-align: center;

  border: 2rem solid var(--primary-border-color);
  border-image: url('/assets/images/deco-frame.jpg') 213 round round;
  
  background-color: var(--primary-background-color);   
  border-radius: var(--header-border-radius);
}

.header-header{
 
}

.header-text{
  font-size: 85%;
}


.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  gap: 1rem;
  font-family: "Lobster", sans-serif;
}
.searchBtn {
  border: solid 2px var(--primary-button-color);
  background-color: var(--secondary-font-color);
  color: var(--primary-button-color);  
  cursor: pointer;
  border-radius: var(--btn-border-radius);
}
.header-main {
  box-shadow: inset var(--primary-border-color) 10px 10px 10px 2.5rem;
}
.search-header{
  font-size: var(--sec-header-fontSize);
  line-height: var(--header-line-height);
  font-family: "Lobster", sans-serif;
}
.result-wrapper {
  width: calc(100vw - 1rem);
  width: calc(100dvw - 1rem);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.result-header-wrapper {
  display: flex;
}
.resultImg{
  max-width: 80%;
}
.result-container {
  gap:1rem;
  display: flex; 
  color: var(--primary-font-color);
  flex-direction: row;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
}
.result:hover {
  cursor: pointer;
}

.result {
  gap: 0.5rem;
  overflow: auto;
  border-radius: var(--card-border-radius);
  background-color: var(--primary-background-color);
  margin: var(--inner-card-margin);
  display: flex;
  line-height: 1.2rem;
  padding: var(--inner-card-padding);
  border: var(--default-border);
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.enlarged {
  padding: 2rem;
  gap: 2rem;
  height: 90%;
  width: 87%;
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--enlarged-background-color);
  
}
.result > h2{
    font-family: "Lobster", sans-serif;
}
.enlarged > h2 {
    padding-top: 1rem;
    line-height: var(--header-line-height);
    font-family: "Lobster", sans-serif;
    font-size: 2rem;
}
.result > ul {
  line-height: 1.2rem;
  list-style-type: circle;
  font-family: "cursive", sans-serif;
}
.result > ol {
  line-height: normal;
  list-style-type: upper-roman;
  font-family: "cursive", sans-serif;
}
.enlarged > h2 {
  line-height: var(--header-line-height);
  font-family: "Lobster", sans-serif;
  font-size: 2rem;
}
.result > * {  
  flex: 1 1 23%;
}
.instructions-header.ingredient-header {
  margin:0;
}

ol > li {
  font-size: 0.9em;
  line-height: 0.9rem;
  padding: 0.5rem;
  font-family: "cursive", sans-serif;
}
footer {
  margin-top: auto;
  display: flex;  
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.footer-wrapper {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-content: flex-end;
  align-items: center;  
  color:var(--primary-accent-color);
}
.copy {
  font-family: "Permanent Marker", "cursive", sans-serif;
  font-size: var(--secondary-text-fontSize);
}
.footer-text {
  gap: 1rem;
  display: flex;
  font-family: "Permanent Marker", "cursive", sans-serif;
  
  flex-direction: column;
  justify-content: space-evenly;
  
  align-items: center;
}

.footer-logga {
  width: 5vw;
  width: 5dvw;
}
.logo {
  width: 15vw;
  width: 15dvw;
  color: var(--primary-accent-color);
}
.hide {
  display: none;
}
main {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 450px) {
  .logo {
    width: 4vw;
    width: 4dvw;
  }
}
@media (min-width: 800px) {
  .header-wrapper {    
    width: calc(100vw - 10rem);
    width: calc(100dvw - 10rem);  
    padding: 2rem;
  }
  .result{
    max-width: 15%;
  }
  .enlarged{
    max-width: 80%;
  }
  .footer-wrapper {
    gap: 3rem;
    flex-direction: row;
}
.footer-text{
  flex-direction: row;
}
ol > li {
  font-size: 0.9em;
  line-height: 0.9rem;
  padding: 0.2rem;
}
}
@media (min-width: 1100px) {
  .header-header {
    font-size: 175%;
}
.header-text {
  font-size: 100%;
}
.header-wrapper {
  padding: 3rem;
}
.footer-wrapper {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-content: flex-end;
  align-items: center;
  color: var(--primary-accent-color);
}
}
@media (min-width: 1400px) {
  .header-header {
    font-size: 200%;
}
ol > li {
  font-size: 1.2em;
  line-height: 1.0rem;
}
.enlarged > h2 {
  font-size: 4rem;
}
}